# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [21]:
# Import libraries
import pandas as pd
import scipy.stats as st

#### Import dataset

In this challenge we will work on the Pokemon dataset. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [47]:
# Your code here:

pokemon_df=pd.read_csv('Pokemon.csv')
pokemon_df.head(30)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [49]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    for i in features:
        sample__1=s1[i].sample(30)
        sample__2=s2[i].sample(30)
        total=st.ttest_ind(sample__1,sample__2,equal_var=False)
        results[i]=total

    # Your code here
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [58]:
# Your code here

#Set Hypothesis: H0: the means of a feature set of two samples are equal, H1: they are different
#Significance level: If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. 
#If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. 
#If p-value is above 0.1 we do not reject the null-hypothesis.

#Sample:
sample_1=pokemon_df[pokemon_df['Legendary']==False]

In [57]:
sample__1=sample_1['HP'].sample(30)

In [56]:
sample_2=pokemon_df[pokemon_df['Legendary']==True]

In [53]:
t_test_features(sample_1, sample_2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': Ttest_indResult(statistic=-4.861114159973121, pvalue=1.1021190149433959e-05),
 'Attack': Ttest_indResult(statistic=-5.332957289343963, pvalue=1.6684361818846557e-06),
 'Defense': Ttest_indResult(statistic=-5.371998990240602, pvalue=1.5545401610372464e-06),
 'Sp. Atk': Ttest_indResult(statistic=-7.493514502233771, pvalue=6.532753603200995e-10),
 'Sp. Def': Ttest_indResult(statistic=-4.703439350131202, pvalue=1.6293647005311657e-05),
 'Speed': Ttest_indResult(statistic=-4.719492505909728, pvalue=1.535869191271361e-05),
 'Total': Ttest_indResult(statistic=-9.601840298178377, pvalue=4.2877476636951725e-13)}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here

#In all the cases, p-value is lower than 0.05 so I have to reject the null hypotesis (the means of a feature set of two samples are equal). All the statistic are negative so I can conclude that Legendary Pokemon have higher numbers in the stats than No Legendary

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [55]:
# Your code here
sample_3=pokemon_df[pokemon_df['Generation']==1]

In [60]:
sample_4=pokemon_df[pokemon_df['Generation']==2]

In [61]:
t_test_features(sample_3, sample_4, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

{'HP': Ttest_indResult(statistic=-1.7096760344524227, pvalue=0.09377262362723213),
 'Attack': Ttest_indResult(statistic=0.3279243203942775, pvalue=0.7441663707133009),
 'Defense': Ttest_indResult(statistic=0.7891878328655487, pvalue=0.4332165787889829),
 'Sp. Atk': Ttest_indResult(statistic=0.01334881762272971, pvalue=0.9893963321275521),
 'Sp. Def': Ttest_indResult(statistic=-1.9205329943233724, pvalue=0.05972401135954188),
 'Speed': Ttest_indResult(statistic=0.7396709451280684, pvalue=0.4625348279646173),
 'Total': Ttest_indResult(statistic=0.40370378480219676, pvalue=0.6879494471328571)}

#### What conclusions can you make?

In [ ]:
# Your comment here

#In all the cases, p-value is higher than 0.05 so so I can not reject the null hypotesis (the means of a feature set of two samples are equal).

#### Compare pokemons who have single type vs those having two types.

In [ ]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [ ]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here