# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [6]:
# Import libraries
import pandas as pd

import numpy as np
import scipy.stats as st

#### Import dataset

In this challenge we will work on the Pokemon dataset. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [3]:
# Your code here:
pokemon=pd.read_csv("Pokemon.csv")
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [ ]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    # Your code here
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [ ]:
# Your code here
#st.ttest_ind(pokemon['s1'], pokemon['s2'], equal_var=False)

In [9]:
pokemon[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']]

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Total
0    45      49       49       65       65     45    318
1    60      62       63       80       80     60    405
2    80      82       83      100      100     80    525
3    80     100      123      122      120     80    625
4    39      52       43       60       50     65    309
..   ..     ...      ...      ...      ...    ...    ...
795  50     100      150      100      150     50    600
796  50     160      110      160      110    110    700
797  80     110       60      150      130     70    600
798  80     160       60      170      130     80    680
799  80     110      120      130       90     70    600

[800 rows x 7 columns]

In [12]:
s1=pokemon[pokemon["Legendary"]==True][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']]
s1

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Total
156   90      85      100       95      125     85    580
157   90      90       85      125       90    100    580
158   90     100       90      125       85     90    580
162  106     110       90      154       90    130    680
163  106     190      100      154      100    130    780
..   ...     ...      ...      ...      ...    ...    ...
795   50     100      150      100      150     50    600
796   50     160      110      160      110    110    700
797   80     110       60      150      130     70    600
798   80     160       60      170      130     80    680
799   80     110      120      130       90     70    600

[65 rows x 7 columns]

In [13]:
s2=pokemon[pokemon["Legendary"]==False][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']]
s2

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Total
0    45      49       49       65       65     45    318
1    60      62       63       80       80     60    405
2    80      82       83      100      100     80    525
3    80     100      123      122      120     80    625
4    39      52       43       60       50     65    309
..   ..     ...      ...      ...      ...    ...    ...
787  85     100      122       58       75     54    494
788  55      69       85       32       35     28    304
789  95     117      184       44       46     28    514
790  40      30       35       45       40     55    245
791  85      70       80       97       80    123    535

[735 rows x 7 columns]

In [14]:
st.ttest_ind(s1, s2, equal_var=False)

Ttest_indResult(statistic=array([ 8.98137048, 10.43813354,  7.63707816, 13.41744998, 10.01569661,
       11.47504445, 25.83357439]), pvalue=array([1.00269117e-13, 2.52037245e-16, 4.82699849e-11, 1.55146141e-21,
       2.29493279e-15, 1.04901631e-18, 9.35795434e-47]))

In [ ]:
#scipy.stats.ttest_ind(a, b, axis=0, equal_var=True)

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here
#pvalue>low,so,ttest are not equal(H0 rejected)
#yes,since pvalue is low in each features, Legendary and non-Legendary pokemons have significantly different stats on each feature.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [15]:
# Your code here
s1=pokemon[pokemon["Generation"]==1][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']]
s1
s2=pokemon[pokemon["Generation"]==2][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']]
s2

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Total
166   45      49       65       49       65     45    318
167   60      62       80       63       80     60    405
168   80      82      100       83      100     80    525
169   39      52       43       60       50     65    309
170   58      64       58       80       65     80    405
..   ...     ...      ...      ...      ...    ...    ...
267  100     134      110       95      100     61    600
268  100     164      150       95      120     71    700
269  106      90      130       90      154    110    680
270  106     130       90      110      154     90    680
271  100     100      100      100      100    100    600

[106 rows x 7 columns]

In [16]:
st.ttest_ind(s1, s2, equal_var=False)

Ttest_indResult(statistic=array([-1.46097   ,  1.16030528, -0.57241732,  1.54608675, -1.32037461,
        3.06959437,  0.57907333]), pvalue=array([0.14551698, 0.24721959, 0.5677711 , 0.12332166, 0.18829872,
       0.00239266, 0.56313779]))

#### What conclusions can you make?

In [ ]:
# Your comment here
#pvalue>high,so,ttest are  equal(H0  not rejected)
#since pvalue is high in each features, Generation 1 and Generation 2 pokemons have not significantly different stats on each feature.

#### Compare pokemons who have single type vs those having two types.

In [18]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [19]:
# Your code here
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])  #same population
#st.ttest_ind(pokemon['s1'], pokemon['s2'], equal_var=False)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:

#pvalue>low,so,ttest are not equal(H0 rejected)
#since pvalue is low , there are significant differences of Attack vs Defense

In [20]:
st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])  #same population

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [ ]:
#pvalue>high,so,ttest are  equal(H0  not rejected)
#since pvalue is high, there are no significant differences of Sp. Atk vs Sp. Def

#### What conclusions can you make?

In [ ]:
# Your comment here
#since pvalue is low , there are significant differences of Attack vs Defense
#since pvalue is high, there are no significant differences of Sp. Atk vs Sp. Def